@charset "UTF-8";
	th{text-align:left;}
	input[type=button]{width:130px; font-size:25px; border:2px solid #6799FF;vertical-align:middle;}
	.divline{border-bottom:1px solid gray;}
	.exp{text-align:left; width:1000px;}