<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >	

<mapper namespace="funfun.repository.MK_FundingReposi">
	
	<resultMap type="project" id="projectResult"/>
	<!-- int totCnt() 총 데이터 건수 -->
	<select id="projcnt" resultType="int" parameterType="projSch">
		SELECT COUNT(*)
		FROM (SELECT a.*, round(a.PRO_MONEY/a.PRO_TARGET*100) percent, CEIL(a.pro_finish_date - current_date) dday, b.maker_name
			FROM project a, MAKER b
			WHERE a.MAKER_CODE = b.MAKER_CODE AND PRO_CURR = '정상'
			<if test="cate_title!=null and cate_title!= ''">
				and cate_title like '%' || #{cate_title} ||'%'
			</if>)
		WHERE 1=1
		<if test="projectsch!=null and projectsch!=''">
			and (pro_title like '%'||#{projectsch}||'%'
			or pro_keyword like '%'||#{projectsch}||'%'
			or maker_name like '%'||#{projectsch}||'%')
		</if>
	</select>
	<!-- 프로젝트 리스트 -->
	<select id="projectList" resultMap="projectResult" parameterType="projSch">
		SELECT *
		FROM (SELECT rownum cnt, c.*
			FROM (SELECT a.*, round(a.PRO_MONEY/a.PRO_TARGET*100) percent, CEIL(a.pro_finish_date - current_date) dday, b.maker_name 
				FROM project a, MAKER b
				WHERE a.MAKER_CODE = b.MAKER_CODE AND PRO_CURR = '정상'
			<if test="cate_title!=null and cate_title!= ''">
				and cate_title like '%' || #{cate_title} ||'%'
			</if>) c
			WHERE 1=1
		<if test="projectsch!=null and projectsch!=''">
			and (pro_title like '%'||#{projectsch}||'%'
			or pro_keyword like '%'||#{projectsch}||'%'
			or maker_name like '%'||#{projectsch}||'%')
		</if>)
		WHERE cnt BETWEEN #{start} AND #{end}
	</select>
	<!-- 프로젝트 상세보기 -->
	<select id="detail" resultType="project" parameterType="int">
		SELECT a.*, round(a.PRO_MONEY/a.PRO_TARGET*100) percent, CEIL(a.pro_finish_date - current_date) dday, b.maker_name FROM project a, MAKER b
		WHERE a.MAKER_CODE = b.MAKER_CODE
		AND PRO_CODE = #{pro_code}
	</select>
	<!-- 프로젝트 옵션 -->
	<resultMap type="projectOpt" id="proOptResult"/>
	<select id="proOptList" resultMap="proOptResult" parameterType="int">
		SELECT * FROM PRO_OPTION
		WHERE PRO_CODE = #{pro_code}
	</select>
	<!-- 관심프로젝트 등록 -->
	<insert id="insFavor" parameterType="project">
		INSERT INTO FAVOR VALUES(#{mem_code}, #{pro_code})
	</insert>
	
</mapper>