<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >	

<mapper namespace="funfun.repository.MK_FundingReposi">
	
	<resultMap type="project" id="projectResult"/>
	<!-- int totCnt() 총 데이터 건수 -->
	<select id="projcnt" resultType="int">
		SELECT COUNT(*)
		FROM project
		WHERE 1=1
	</select>
	
	<select id="projectList" resultMap="projectResult" parameterType="project">
		SELECT *
		FROM (SELECT rownum cnt, c.*
			FROM (SELECT a.*, round(a.PRO_MONEY/a.PRO_TARGET*100) percent, CEIL(a.pro_finish_date - current_date) dday, b.maker_name FROM project a, MAKER b
				WHERE a.MAKER_CODE = b.MAKER_CODE
			<if test="cate_title!=null and cate_title!= ''">
				and cate_title like '%' || #{cate_title} ||'%'
			</if>) c)
		WHERE cnt BETWEEN #{start} AND #{end}
	</select>
	
	<select id="detail" resultType="project" parameterType="int">
		SELECT a.*, round(a.PRO_MONEY/a.PRO_TARGET*100) percent, CEIL(a.pro_finish_date - current_date) dday, b.maker_name FROM project a, MAKER b
		WHERE a.MAKER_CODE = b.MAKER_CODE
		AND PRO_CODE = #{pro_code}
	</select>
</mapper>