<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >	

<mapper namespace="funfun.repository.HT_StoreManageReposi">
	<resultMap type="storeQnA" id="qnaResult"/>
	<resultMap type="storeOrder" id="storeOrderResult"/>
	
	<select id="storeQnAList" resultMap="qnaResult" parameterType="int">
	SELECT * FROM QNA
	WHERE STO_CODE = #{sto_code}
	</select>

	<update id="storeQnAAnsReg" parameterType="storeQnA">
	UPDATE QNA
	SET QNA_ANS = #{qna_ans},
		QNA_ANS_REG_DATE = sysdate
	WHERE STO_CODE = #{sto_code}
	</update>
	
	<select id="orderList" resultMap="storeOrderResult" parameterType="int">
	SELECT *
	FROM STORE_ORDER
	WHERE STO_OPT_CODE
	IN (SELECT STO_OPT_CODE FROM STORE_OPTION
	WHERE STO_CODE = #{sto_code})
	</select>
	

</mapper>