<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >	

<mapper namespace="funfun.repository.HT_MSReposi">
	
	<resultMap type="makerstudio" id="msResult"/>
	
	<insert id="regMaker" parameterType="makerstudio">
	
	INSERT INTO MAKER(MAKER_CODE, MEM_CODE, MAKER_TYPE, MAKER_NAME)
	VALUES(maker_seq.nextval, #{mem_code}, #{maker_type}, #{maker_name})
	
	</insert>
	
	<select id="makerInfo" resultType="makerstudio" parameterType="int">
	
	SELECT * FROM MAKER
	WHERE MEM_CODE = #{mem_code}
	
	</select>
	
	<resultMap type="project" id="proResult"/>
	
<!-- 	<select id="projectInfo" resultType="proResult" parameterType="int">
	
	SELECT * FROM PROJECT
	WHERE PRO_CODE = #{pro_code}
	
	</select>
 -->	
	<select id="myProjectList" resultMap="proResult" parameterType="project">
	
	SELECT * FROM PROJECT
	WHERE MAKER_CODE =( 
	SELECT MAKER_CODE
	FROM MAKER 
	WHERE MEM_CODE = #{mem_code})
	
	</select>
	
	<resultMap type="storeQnA" id="qnaResult"/>
	
	<select id="myProjectQnaList" resultMap="qnaResult" parameterType="storeQnA">
	
	SELECT * FROM QNA
	WHERE PRO_CODE = #{PRO_CODE}
	
	</select>
	
	<resultMap type="storeOrder" id="storeOrderResult"/>

	<select id="myStoreManage" resultMap="storeOrderResult" parameterType="storeOrder">
	
	SELECT *
	FROM STORE_ORDER
	WHERE STO_OPT_CODE IN (
	SELECT STO_OPT_CODE
	FROM STORE_OPTION
	WHERE STO_CODE = #{STO_CODE})
	
	</select>
	
	<select id="proQnAList" resultMap="qnaResult" parameterType="int">
	SELECT * FROM QNA
	WHERE PRO_CODE = #{pro_code}
	</select>
	
</mapper>