<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >	

<mapper namespace="funfun.repository.HT_ProjectRegReposi">

	<resultMap type="makerstudio" id="msResult"/>

	<select id="makerInfo" resultType="makerstudio" parameterType="int">
	
	SELECT * FROM MAKER
	WHERE MEM_CODE = #{MEM_CODE}
	
	</select>
	
	<resultMap type="project" id="proResult"/>

	<insert id="proCreate" parameterType="project">
	
	INSERT INTO PROJECT VALUES (project_seq.nextval, #{maker_code}, '', '', '', '', '', '', '', '', '', '', '', '', '', 'Y')
	
	</insert>
	
	<insuert id="proBasicInfo" parameterType="project">
	
	UPDATE PROJECT
	SET PRO_TITLE = #{PRO_TITLE},
		PRO_TARGET = #{PRO_TARGET},
		PRO_IMAGE = #{PRO_IMAGE},
		CATE_TITLE = #{CATE_TITLE},
		PRO_START_DATE = #{PRO_START_DATE},
		PRO_FINISH_DATE = #{PRO_FINISH_DATE},
		PRO_KEYWORD = #{PRO_KEYWORD}
	WHERE PRO_CODE = #{PRO_CODE}
	
	</insuert>

</mapper>