<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >	

<mapper namespace="funfun.repository.HT_ProjectRegReposi">

	<resultMap type="makerstudio" id="msResult"/>

	<select id="makerInfo" resultType="makerstudio" parameterType="int">
	
	SELECT * FROM MAKER
	WHERE MEM_CODE = #{MEM_CODE}
	
	</select>
	
	<resultMap type="project" id="proResult"/>

	<insert id="proCreate" parameterType="project">
	
	INSERT INTO PROJECT VALUES (project_seq.nextval, #{maker_code}, '', '', '', '', '', '', '', '', '', '', '', '', '', 'Y')
	
	</insert>
	
	<update id="proBasicInfo" parameterType="project">
	
	UPDATE PROJECT
	SET PRO_TITLE = #{pro_title},
		PRO_TARGET = #{pro_target},
		PRO_IMAGE = #{pro_image},
		CATE_TITLE = #{cate_title},
		PRO_START_DATE = #{pro_start_date},
		PRO_FINISH_DATE = #{pro_finish_date},
		PRO_KEYWORD = #{pro_keyword}
	WHERE PRO_CODE = #{pro_code}
	
	</update>

</mapper>