<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
		<typeAlias alias="makerstudio" type="funfun.vo.MakerStudio"/>
		<typeAlias alias="RewardStore" type="funfun.vo.RewardStore"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="resource/mybatis/MSMapper.xml"/>
		<mapper resource="resource/mybatis/StoreMapper.xml"/>
	</mappers>
 
</configuration>