<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
		<typeAlias alias="makerstudio" type="funfun.vo.MakerStudio"/>
		<typeAlias alias="RewardStore" type="funfun.vo.RewardStore"/>
		<typeAlias alias="notice" type="funfun.vo.Notice"/>
		<typeAlias alias="faq" type="funfun.vo.Faq"/>
		<typeAlias alias="paging" type="funfun.vo.Paging"/>
		<typeAlias alias="project" type="funfun.vo.Project"/>
		<typeAlias alias="favor" type="funfun.vo.Favor"/>

	</typeAliases>
	<mappers>
		<mapper resource="resource/mybatis/MSMapper.xml"/>
		<mapper resource="resource/mybatis/StoreMapper.xml"/>
		<mapper resource="resource/mybatis/Sw_NoticeMapper.xml"/>
		<mapper resource="resource/mybatis/Sw_FaqMapper.xml"/>
		<mapper resource="resource/mybatis/loginMapper.xml" />
		<mapper resource="resource/mybatis/favorMapper.xml" />
		<mapper resource="resource/mybatis/FundingMapper.xml" />

	</mappers>
 
</configuration>