@charset "UTF-8";
	
	div {cursor:default;}
	.hide {display:none;}  
    .notishow {display:show;}
    .faqshow {display:show;}
    .sctitle {margin-bottom:20px;}
    .scnav button { height:60px; margin-bottom:20px;}
    .sctable th {font-size:20px;}
    .sctable td {font-size:20px; cursor:pointer;}
