@charset "UTF-8";
	
	div {cursor:default;}
	.hide {display:none;}  
    .notishow {display:show;}
    .faqshow {display:show;}
    .sctitle {margin-bottom:40px;}
    .scnav button { height:65px; margin-bottom:30px;}
    .sctable th {font-size:20px;}
    .sctable td {font-size:20px; cursor:pointer;}
